.firstSection {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding: 50px;
}

.firstSection div:first-child {
    position: relative;
    width: 60%;
    text-align: center;
    padding-left: 100px;
}

.firstSection div:nth-child(2){
    width: 40%;
}

.secondSection {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    padding: 50px;
}

.devTitle {
    font-size: 140px;
    font-weight: 400;
    max-width: 12ch;
    position: absolute;
    bottom: 0;
    left: -10%;
}
.uxuiTitle {
    font-size: 150px;
    font-weight: 400;
    text-align: end;
    margin-right: 200px;
}

.dev1Image {
    object-fit: cover;
    height: 700px;
    width: 430px;
    margin-left: 100px;
    border-radius: 200px;
    box-shadow: rgba(255, 122, 13, 0.384) 0px 54px 55px;
}
.dev2Image {
    object-fit: cover;
    height: 350px;
    width: 250px;
    border-radius: 180px 180px 0px 180px;
    box-shadow: rgba(255, 122, 13, 0.384) 0px 54px 55px;
}

.uxuiImage1 {
    object-fit: cover;
    margin-left: 100px;
    height: 380px;
    width: 300px;
    border-radius: 180px 0px 180px 180px;
    box-shadow:  rgba(255, 122, 13, 0.384) -30px 0px 55px;
}
.uxuiImage2 {
    object-fit: cover;
    margin-top: 20px;
    margin-left: 300px;
    height: 380px;
    width: 300px;
    border-radius: 180px 180px 180px 0px;
    box-shadow: rgba(255, 122, 13, 0.384) 30px 0px 55px;
}

.eyeIcon {
    height: 80px;
    width: 80px;
    margin-top: 100px;
    margin-bottom: 30px;

}
.devIcon {
    height: 80px;
    width: 80px;
    margin-top: 100px;
    margin-bottom: 30px;

}

.thirdColumn {
    text-align: center;
    font-weight: 400;
    font-size: larger;
    background-color: rgba(255, 0, 0, 0);
}

.designText {
    margin-top: 30px;
    margin-bottom: 10px;
}

.devText {
    margin-bottom: 50px;
    font-size: 23px;
}

.and {
    text-align: center;
    font-size: 200px;
    font-weight: 100;
}

hr {
    width: 40px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.thirdColumn {
    width: 500px;
}

.projectsContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    overflow-x: hidden;
}

.projectsImg {
    object-fit: cover;
    width: 350px;
    height: 550px;
    border-radius: 180px;
    opacity: 0.6;
}
.projectsImg:hover {
    box-shadow: rgba(0, 0, 0, 0.976) 0px 54px 55px;
    opacity: 0.3;
    color: black;
}

.myWorkTitle{
    font-size: 150px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
}

.divProject {
    display: inline-block;
    position: relative;
    margin-bottom: 70px;
    padding: 10px;
}

.projectText {
    position: absolute;
    top: 50%;
    right: 50%;
    font-size: 30px;
    font-weight: 800;
}

.skillsDiv {
    display: flex;
}

.skills {
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-weight: 600;
    font-size: 25px;
}

.uxuiQuote {
    text-align: center;
    width: 400px;
    margin-right: 0;
}

.thirdSection {
    background-color: rgba(255, 115, 0, 0.164);
}